.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}

header {
  height: 2rem;
  background-color: rgb(255, 224, 25);
  width: 100%;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

header p {
  margin: 0;
}

.ChatContainer {
  width: 50%;
  height: 75vh;
  border: 1px black solid;
  display: flex;
  flex-direction: column;
  margin: auto 0;
}

.ChatInputField {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 224, 25);
  height: 7%;
}

.ChatInputField input {
  outline: none;
  border: none;
  border-radius: 15px;
  padding: 5px;
  margin: 0 5px;
  width: 50%;
  transition: all 500ms ease;
}

.ChatInputField input:focus {
  width: 100%;
}

.ChatInputField button {
  border-radius: 15px;
  padding: 5px;
  background-color: rgb(255, 224, 25);
  border: none;
  cursor: pointer;
  transition: all 500ms ease;
  font-size: 16px;
  margin: 0 5px;
  width: 4rem;
}

.ChatInputField button:hover {
  background-color: rgb(18, 88, 87);
  color: white;
}

.ChatMessageList {
  height: calc(97% - 20px);
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.ChatMsg {
  border-radius: 15px;
  padding: 7px;
  margin: 5px;
  max-width: 75%;
}

.user {
  background-color: rgb(18, 88, 87);
  color: white;
  margin-left: auto;
  text-align: right;
}

.bot {
  background-color: #E4E6EB;
  margin-right: auto;
  text-align: left;
}

@media only screen and (max-width: 550px) {
  .ChatContainer {
    height: calc((100vh - 10px) - 4rem);
    border: none;
    width: 100%;
    padding-top: 10px;
  }

  .ChatContainer button {
    background-color: rgb(18, 88, 87);
    color: white;
  }
}